* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#mapid {
    height: 100vh;
}


p {
    text-align: justify;
}


.leaflet-control-zoom {
    position: fixed;
    right: 10px;
    bottom: 50px;
    z-index: 1000
}

.leaflet-popup {
    min-width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0;
    ;
}

.leaflet-popup h3 {
    margin-top: 20px;
    text-align: center;
}


.leaflet-container a.leaflet-popup-close-button {
    right: 100px;
}

img {
    width: 100%
}

.leaflet-popup-content-wrapper {
    padding: 0px;
}

.leaflet-popup-content {
    margin: 0;
}

.description {
    padding: 1em;
    text-align: justify
}

.leaflet-menu {
    position: fixed;
    top: 50px;
    left: 30px;
    background: #001f60;
    width: 22%;
    min-width: 257px;
    z-index: 1200;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /*    padding: 1em;*/
}


.leaflet-menu * {
    background: #001f60;
    color: white
}

.input-container {
    margin-top: 1em;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 10px;
}

.accordion-button {
    border-bottom: 2px solid white;

}


.accordion-button::after,
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23eb585e'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

}

.accordion-button:not(.collapsed) {
    background-color: inherit;
    color: white
}


h3 {
    font-size: 1.5em;
}

.accordion-button:focus {
    box-shadow: none;
}

input:checked {
    background-color: #001f60
}
