* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#mapid {
    height: 100vh;
    position: none;
}

h1{
    font-size: 1.5em;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
    background: white;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.logo-uspn {
    width: 120px;
    height: auto;
}

.leaflet-top {
    top: 120px;
}

p {
    text-align: justify;
}

.leaflet-popup {
    min-width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0;
}

.leaflet-popup h3 {
    margin-top: 20px;
    text-align: center;
}



.leaflet-container a.leaflet-popup-close-button {
    right: 100px;
}

img {
    width: 100%
}

.leaflet-popup-content-wrapper {
    padding: 0px;
}

.leaflet-popup-content {
    margin: 0;
}

.description{
    padding: 1em;
    text-align: justify
}

.leaflet-menu{
    position: fixed;
    top: 130px;
    left: 70px;
    background: white;
    width: 300px;
    z-index: 1200;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1em;
}

.input-container {
    margin-top: 1em;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 10px;
}




























